.scrubbedContainer {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.1);
  will-change: transform, opacity, clip-path;
  background-color: #1a2023;
}

.scrubbedImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
